/* 
1.Posicionnamiento
2.Modelo de caja(Box model)
3.Tipografia
4.Visuales
5.Otros
*/

:root {
    /* Colores */
    --bitcoin-orange: #F7931A;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #201e1c;
    --black : #282623;
    --grey : #bababa;
    --off-white: #FAF8F7;
    --just-white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans serif;
}


/* 
==========
Header
==========
*/


header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;

    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);;
}

header img {
    /* align-self: center; */
   
    width: 150px;
    height: 30px;
    margin-top: 60px;
}

.header__title__container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
}

.header__title__container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}


.header__title__container p {

    margin-top: 25px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);

}